<div class="container">
  <div class="card" *ngIf="check==1">
    <div class="card-header">
        <h2 > {{house.name}} </h2>
      <div class="card-body" >
          
        <h3 >Region : {{house.region}}<br></h3>
        <h3 >Founded : {{house.founded}}<br></h3>
        <h3 >Coat Of Arms : {{house.coatOfArms}}<br></h3>
        <h3 >Words : {{house.words}}<br></h3>
        <h3 >Seats : {{house.seats}}<br></h3>      
          <button type="button" class="btn btn-primary" (click)="goback();">GoBack</button>
      </div>
    </div>
  </div>
  
  
  </div>